In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df1 = pd.read_csv("Data/India Agriculture Crop Production.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [3]:
for i in df1.columns:
    print(f"Unique values in {i} is {df1[i].nunique()}")

Unique values in State is 36
Unique values in District is 729
Unique values in Crop is 56
Unique values in Year is 24
Unique values in Season is 6
Unique values in Area is 48006
Unique values in Area Units is 1
Unique values in Production is 69078
Unique values in Production Units is 3
Unique values in Yield is 197154

In [4]:
Year = df1["Year"].unique()
print(Year)

['2001-02' '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08'
 '2008-09' '2009-10' '2010-11' '2011-12' '2012-13' '2013-14' '2014-15'
 '2015-16' '2016-17' '2017-18' '2018-19' '2019-20' '2020-21' '2000-01'
 '1997-98' '1998-99' '1999-00']

In [5]:
# plt.figure(figsize=(50,10))
# sns.barplot(data=df1,x="Year",y="Production")
# plt.show()

In [6]:
# plt.figure(figsize=(50,10))
# sns.barplot(data=df1,x="State",y="Production",hue="Production Units")
# plt.legend()
# plt.show()

In [7]:
Units = df1["Production Units"].unique()
print(Units)

['Tonnes' 'Nuts' 'Bales']

In [8]:
dfx = df1[df1["Production Units"]=="Tonnes"]
dfy = df1[df1["Production Units"]=="Nuts"]
dfz = df1[df1["Production Units"]=="Bales"]

In [9]:
dfx.info()
dfy.info()
dfz.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331686 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             331686 non-null  object
 1   District          331686 non-null  object
 2   Crop              331654 non-null  object
 3   Year              331686 non-null  object
 4   Season            331685 non-null  object
 5   Area              331653 non-null  float64
 6   Area Units        331686 non-null  object
 7   Production        326999 non-null  float64
 8   Production Units  331686 non-null  object
 9   Yield             331653 non-null  float64
dtypes: float64(3), object(7)
memory usage: 27.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 2927 entries, 20 to 343483
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             2927 non-null   object
 1   District          2927 non-null   object
 2   Crop              2927 non-null   object
 3   Year              2927 non-null   object
 4   Season            2927 non-null   object
 5   Area              2927 non-null   float64
 6   Area Units        2927 non-null   object
 7   Production        2891 non-null   float64
 8   Production Units  2927 non-null   object
 9   Yield             2927 non-null   float64
dtypes: float64(3), object(7)
memory usage: 251.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 10794 entries, 546 to 344185
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             10794 non-null  object
 1   District          10794 non-null  object
 2   Crop              10794 non-null  object
 3   Year              10794 non-null  object
 4   Season            10794 non-null  object
 5   Area              10794 non-null  float64
 6   Area Units        10794 non-null  object
 7   Production        10524 non-null  float64
 8   Production Units  10794 non-null  object
 9   Yield             10794 non-null  float64
dtypes: float64(3), object(7)
memory usage: 927.6+ KB

In [10]:
#Null Value Analysis

print(dfx.isnull().sum(),"\n")
print(dfy.isnull().sum(),"\n")
print(dfz.isnull().sum(),"\n")

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4687
Production Units       0
Yield                 33
dtype: int64

State                0
District             0
Crop                 0
Year                 0
Season               0
Area                 0
Area Units           0
Production          36
Production Units     0
Yield                0
dtype: int64

State                 0
District              0
Crop                  0
Year                  0
Season                0
Area                  0
Area Units            0
Production          270
Production Units      0
Yield                 0
dtype: int64

In [11]:
print(dfx["Crop"].unique())
print(dfx["Crop"].nunique())
print(dfx["Crop"].isnull().sum())

['Arecanut' 'Banana' 'Black pepper' 'Cashewnut' 'Dry chillies' 'Ginger'
 'Other Kharif pulses' 'other oilseeds' 'Rice' 'Sugarcane' 'Sweet potato'
 'Arhar/Tur' 'Bajra' 'Castor seed' 'Coriander' 'Gram' 'Groundnut'
 'Horse-gram' 'Jowar' 'Linseed' 'Maize' 'Moong(Green Gram)' 'Niger seed'
 'Onion' 'Other Rabi pulses' 'Potato' 'Ragi' 'Rapeseed &Mustard'
 'Safflower' 'Sesamum' 'Small millets' 'Soyabean' 'Sunflower' 'Tapioca'
 'Tobacco' 'Turmeric' 'Urad' 'Wheat' 'Oilseeds total' 'Masoor'
 'Peas & beans (Pulses)' 'Barley' 'Garlic' 'Khesari' 'Sannhamp'
 'Guar seed' 'Moth' 'Cardamom' 'Other Cereals' 'Cowpea(Lobia)'
 'Dry Ginger' 'Other Summer Pulses' nan]
52
32

In [12]:
dfx[dfx["Crop"].isnull()].head(1000)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
345375,Dadra and Nagar Haveli,DADRA AND NAGAR HAVELI,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345376,Dadra and Nagar Haveli,DADRA AND NAGAR HAVELI,NaN,2018-19,Winter,NaN,Hectare,NaN,Tonnes,NaN
345377,Dadra and Nagar Haveli,DADRA AND NAGAR HAVELI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345378,Daman and Diu,DIU,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345379,Daman and Diu,DAMAN,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345380,Manipur,BISHNUPUR,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345381,Manipur,CHANDEL,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345382,Manipur,CHURACHANDPUR,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345383,Manipur,IMPHAL EAST,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345384,Manipur,IMPHAL WEST,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345385,Manipur,SENAPATI,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345386,Manipur,TAMENGLONG,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345387,Manipur,THOUBAL,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345388,Manipur,UKHRUL,NaN,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
345389,Manipur,BISHNUPUR,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345390,Manipur,CHANDEL,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345391,Manipur,CHURACHANDPUR,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345392,Manipur,IMPHAL EAST,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345393,Manipur,IMPHAL WEST,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345394,Manipur,SENAPATI,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345395,Manipur,TAMENGLONG,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345396,Manipur,THOUBAL,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345397,Manipur,UKHRUL,NaN,2019-20,Whole Year,NaN,Hectare,NaN,Tonnes,NaN
345398,Manipur,BISHNUPUR,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345399,Manipur,CHANDEL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345400,Manipur,CHURACHANDPUR,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345401,Manipur,IMPHAL EAST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN

In [13]:
print(dfx.isnull().sum())
print(dfx.info())
dfx = dfx.dropna(subset=['Crop'])
dfx = dfx.dropna(subset=['Season'])
dfx = dfx.dropna(subset=['Area'])
dfx = dfx.dropna(subset=['Production'])
print(dfx.isnull().sum())
print(dfx.info())

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4687
Production Units       0
Yield                 33
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 331686 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             331686 non-null  object
 1   District          331686 non-null  object
 2   Crop              331654 non-null  object
 3   Year              331686 non-null  object
 4   Season            331685 non-null  object
 5   Area              331653 non-null  float64
 6   Area Units        331686 non-null  object
 7   Production        326999 non-null  float64
 8   Production Units  331686 non-null  object
 9   Yield             331653 non-null  float64
dtypes: float64(3), object(7)
memory usage: 27.8+ MB
None
State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             326999 non-null  object
 1   District          326999 non-null  object
 2   Crop              326999 non-null  object
 3   Year              326999 non-null  object
 4   Season            326999 non-null  object
 5   Area              326999 non-null  float64
 6   Area Units        326999 non-null  object
 7   Production        326999 non-null  float64
 8   Production Units  326999 non-null  object
 9   Yield             326999 non-null  float64
dtypes: float64(3), object(7)
memory usage: 27.4+ MB
None

In [14]:
from collections import defaultdict
years_per_district = dfx.groupby('District')['Year'].unique()
maxx = defaultdict(int)
for i in years_per_district:
    maxx[len(i)] += 1

for i in maxx.keys():
    print(f"Time Steps of {i} has {maxx[i]} unique values")

Time Steps of 23 has 420 unique values
Time Steps of 7 has 8 unique values
Time Steps of 4 has 25 unique values
Time Steps of 12 has 11 unique values
Time Steps of 24 has 10 unique values
Time Steps of 10 has 2 unique values
Time Steps of 17 has 17 unique values
Time Steps of 22 has 96 unique values
Time Steps of 16 has 4 unique values
Time Steps of 18 has 4 unique values
Time Steps of 6 has 9 unique values
Time Steps of 11 has 3 unique values
Time Steps of 3 has 3 unique values
Time Steps of 21 has 29 unique values
Time Steps of 1 has 36 unique values
Time Steps of 15 has 7 unique values
Time Steps of 9 has 11 unique values
Time Steps of 13 has 11 unique values
Time Steps of 20 has 3 unique values
Time Steps of 8 has 8 unique values
Time Steps of 2 has 5 unique values
Time Steps of 5 has 2 unique values
Time Steps of 19 has 1 unique values
Time Steps of 14 has 3 unique values

In [15]:
print(dfx.isnull().sum())
print(dfx.info())

State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             326999 non-null  object
 1   District          326999 non-null  object
 2   Crop              326999 non-null  object
 3   Year              326999 non-null  object
 4   Season            326999 non-null  object
 5   Area              326999 non-null  float64
 6   Area Units        326999 non-null  object
 7   Production        326999 non-null  float64
 8   Production Units  326999 non-null  object
 9   Yield             326999 non-null  float64
dtypes: float64(3), object(7)
memory usage: 27.4+ MB
None

In [16]:
dfx1 = dfx.drop(columns=['Production Units', 'Area Units'])
dfx1['State'] = dfx1['State'].str.lower().str.strip()
dfx1['District'] = dfx1['District'].str.lower().str.strip()
dfx1['Crop'] = dfx1['Crop'].str.lower().str.strip()
dfx1['Season'] = dfx1['Season'].str.lower().str.strip()
dfx1['Unique_ID'] = dfx1['State'] + '-'+ dfx1['District'] + '-' + dfx1['Crop'] + '-' + dfx1['Season']
dfx1 = dfx1.drop(columns=['State','District','Crop','Season'])
dfx1['Year'] = dfx1['Year'].str[:4]
dfx1['Year'] = pd.to_datetime(dfx1['Year'], format='%Y')
dfx1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Year        326999 non-null  datetime64[ns]
 1   Area        326999 non-null  float64
 2   Production  326999 non-null  float64
 3   Yield       326999 non-null  float64
 4   Unique_ID   326999 non-null  object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 15.0+ MB

In [17]:
years_per_id = dfx1.groupby('Unique_ID')['Year'].unique()
maxx = defaultdict(int)
for i in years_per_id:
    maxx[len(i)] += 1

for i in maxx.keys():
    print(f"Time Steps of {i} has {maxx[i]} unique values")

Time Steps of 2 has 3043 unique values
Time Steps of 1 has 6296 unique values
Time Steps of 10 has 767 unique values
Time Steps of 4 has 1920 unique values
Time Steps of 16 has 830 unique values
Time Steps of 5 has 1423 unique values
Time Steps of 7 has 1480 unique values
Time Steps of 6 has 1183 unique values
Time Steps of 3 has 1991 unique values
Time Steps of 12 has 902 unique values
Time Steps of 8 has 880 unique values
Time Steps of 15 has 848 unique values
Time Steps of 9 has 793 unique values
Time Steps of 11 has 882 unique values
Time Steps of 14 has 725 unique values
Time Steps of 13 has 841 unique values
Time Steps of 22 has 1668 unique values
Time Steps of 23 has 2404 unique values
Time Steps of 19 has 900 unique values
Time Steps of 18 has 936 unique values
Time Steps of 17 has 679 unique values
Time Steps of 21 has 1116 unique values
Time Steps of 20 has 1301 unique values

In [18]:
for i in dfx1.columns:
    print(f"Column {i} has {dfx1[i].nunique()} unique values")

Column Year has 24 unique values
Column Area has 46121 unique values
Column Production has 64373 unique values
Column Yield has 188361 unique values
Column Unique_ID has 33808 unique values

In [19]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dfx1['Unique_ID'] = label_encoder.fit_transform(dfx1['Unique_ID'])
dfx1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Year        326999 non-null  datetime64[ns]
 1   Area        326999 non-null  float64
 2   Production  326999 non-null  float64
 3   Yield       326999 non-null  float64
 4   Unique_ID   326999 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1)
memory usage: 13.7 MB

In [20]:
grouped = dfx1.groupby('Unique_ID')
num_lags = 22
for i in range(1, num_lags + 1):
    dfx1[f'Production_lag_{i}'] = grouped['Production'].shift(i)

dfx1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               326999 non-null  datetime64[ns]
 1   Area               326999 non-null  float64
 2   Production         326999 non-null  float64
 3   Yield              326999 non-null  float64
 4   Unique_ID          326999 non-null  int32
 5   Production_lag_1   293191 non-null  float64
 6   Production_lag_2   265679 non-null  float64
 7   Production_lag_3   241210 non-null  float64
 8   Production_lag_4   218732 non-null  float64
 9   Production_lag_5   198174 non-null  float64
 10  Production_lag_6   179039 non-null  float64
 11  Production_lag_7   161087 non-null  float64
 12  Production_lag_8   144615 non-null  float64
 13  Production_lag_9   129023 non-null  float64
 14  Production_lag_10  114224 non-null  float64
 15  Production_lag_11  100192 non-null  float64
 16  Production_lag_12  87042 non-null   float64
 17  Production_lag_13  74794 non-null   float64
 18  Production_lag_14  63387 non-null   float64
 19  Production_lag_15  52705 non-null   float64
 20  Production_lag_16  42871 non-null   float64
 21  Production_lag_17  33867 non-null   float64
 22  Production_lag_18  25542 non-null   float64
 23  Production_lag_19  18153 non-null   float64
 24  Production_lag_20  11664 non-null   float64
 25  Production_lag_21  6476 non-null    float64
 26  Production_lag_22  2404 non-null    float64
dtypes: datetime64[ns](1), float64(25), int32(1)
memory usage: 68.6 MB

In [21]:
print(dfx1.isnull().sum())
#dfx1.fillna(method='ffill', inplace=True)
dfx1.ffill(inplace=True)
print(dfx1.isnull().sum())
#dfx1.fillna(method='bfill', inplace=True)
dfx1.bfill(inplace=True)
print(dfx1.isnull().sum())

Year                      0
Area                      0
Production                0
Yield                     0
Unique_ID                 0
Production_lag_1      33808
Production_lag_2      61320
Production_lag_3      85789
Production_lag_4     108267
Production_lag_5     128825
Production_lag_6     147960
Production_lag_7     165912
Production_lag_8     182384
Production_lag_9     197976
Production_lag_10    212775
Production_lag_11    226807
Production_lag_12    239957
Production_lag_13    252205
Production_lag_14    263612
Production_lag_15    274294
Production_lag_16    284128
Production_lag_17    293132
Production_lag_18    301457
Production_lag_19    308846
Production_lag_20    315335
Production_lag_21    320523
Production_lag_22    324595
dtype: int64
Year                      0
Area                      0
Production                0
Yield                     0
Unique_ID                 0
Production_lag_1          2
Production_lag_2         16
Production_lag_3      40159
Production_lag_4      40163
Production_lag_5      40180
Production_lag_6      80479
Production_lag_7      80487
Production_lag_8      80489
Production_lag_9     123056
Production_lag_10    123058
Production_lag_11    123060
Production_lag_12    166777
Production_lag_13    166778
Production_lag_14    166779
Production_lag_15    212391
Production_lag_16    212392
Production_lag_17    212393
Production_lag_18    263413
Production_lag_19    280797
Production_lag_20    281973
Production_lag_21    281974
Production_lag_22    282070
dtype: int64
Year                 0
Area                 0
Production           0
Yield                0
Unique_ID            0
Production_lag_1     0
Production_lag_2     0
Production_lag_3     0
Production_lag_4     0
Production_lag_5     0
Production_lag_6     0
Production_lag_7     0
Production_lag_8     0
Production_lag_9     0
Production_lag_10    0
Production_lag_11    0
Production_lag_12    0
Production_lag_13    0
Production_lag_14    0
Production_lag_15    0
Production_lag_16    0
Production_lag_17    0
Production_lag_18    0
Production_lag_19    0
Production_lag_20    0
Production_lag_21    0
Production_lag_22    0
dtype: int64

In [22]:
dfx1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               326999 non-null  datetime64[ns]
 1   Area               326999 non-null  float64
 2   Production         326999 non-null  float64
 3   Yield              326999 non-null  float64
 4   Unique_ID          326999 non-null  int32
 5   Production_lag_1   326999 non-null  float64
 6   Production_lag_2   326999 non-null  float64
 7   Production_lag_3   326999 non-null  float64
 8   Production_lag_4   326999 non-null  float64
 9   Production_lag_5   326999 non-null  float64
 10  Production_lag_6   326999 non-null  float64
 11  Production_lag_7   326999 non-null  float64
 12  Production_lag_8   326999 non-null  float64
 13  Production_lag_9   326999 non-null  float64
 14  Production_lag_10  326999 non-null  float64
 15  Production_lag_11  326999 non-null  float64
 16  Production_lag_12  326999 non-null  float64
 17  Production_lag_13  326999 non-null  float64
 18  Production_lag_14  326999 non-null  float64
 19  Production_lag_15  326999 non-null  float64
 20  Production_lag_16  326999 non-null  float64
 21  Production_lag_17  326999 non-null  float64
 22  Production_lag_18  326999 non-null  float64
 23  Production_lag_19  326999 non-null  float64
 24  Production_lag_20  326999 non-null  float64
 25  Production_lag_21  326999 non-null  float64
 26  Production_lag_22  326999 non-null  float64
dtypes: datetime64[ns](1), float64(25), int32(1)
memory usage: 68.6 MB

In [23]:
from sklearn.preprocessing import MinMaxScaler
df = dfx1
df['Year'] = df['Year'].dt.year.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326999 entries, 0 to 345374
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               326999 non-null  float64
 1   Area               326999 non-null  float64
 2   Production         326999 non-null  float64
 3   Yield              326999 non-null  float64
 4   Unique_ID          326999 non-null  int32
 5   Production_lag_1   326999 non-null  float64
 6   Production_lag_2   326999 non-null  float64
 7   Production_lag_3   326999 non-null  float64
 8   Production_lag_4   326999 non-null  float64
 9   Production_lag_5   326999 non-null  float64
 10  Production_lag_6   326999 non-null  float64
 11  Production_lag_7   326999 non-null  float64
 12  Production_lag_8   326999 non-null  float64
 13  Production_lag_9   326999 non-null  float64
 14  Production_lag_10  326999 non-null  float64
 15  Production_lag_11  326999 non-null  float64
 16  Production_lag_12  326999 non-null  float64
 17  Production_lag_13  326999 non-null  float64
 18  Production_lag_14  326999 non-null  float64
 19  Production_lag_15  326999 non-null  float64
 20  Production_lag_16  326999 non-null  float64
 21  Production_lag_17  326999 non-null  float64
 22  Production_lag_18  326999 non-null  float64
 23  Production_lag_19  326999 non-null  float64
 24  Production_lag_20  326999 non-null  float64
 25  Production_lag_21  326999 non-null  float64
 26  Production_lag_22  326999 non-null  float64
dtypes: float64(26), int32(1)
memory usage: 68.6 MB

In [24]:
print(df.shape)
n_features = df.shape[-1]
print(n_features)

(326999, 27)
27

In [25]:
import torch
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [26]:
#scaler = StandardScaler()
scaler = MinMaxScaler()
features = df.drop(columns=['Production']).values
scaled_features = scaler.fit_transform(features)
df_scaled = pd.DataFrame(scaled_features, columns=df.columns.drop('Production'))
df_scaled['Production'] = df['Production'].values
df_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326999 entries, 0 to 326998
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               326999 non-null  float64
 1   Area               326999 non-null  float64
 2   Yield              326999 non-null  float64
 3   Unique_ID          326999 non-null  float64
 4   Production_lag_1   326999 non-null  float64
 5   Production_lag_2   326999 non-null  float64
 6   Production_lag_3   326999 non-null  float64
 7   Production_lag_4   326999 non-null  float64
 8   Production_lag_5   326999 non-null  float64
 9   Production_lag_6   326999 non-null  float64
 10  Production_lag_7   326999 non-null  float64
 11  Production_lag_8   326999 non-null  float64
 12  Production_lag_9   326999 non-null  float64
 13  Production_lag_10  326999 non-null  float64
 14  Production_lag_11  326999 non-null  float64
 15  Production_lag_12  326999 non-null  float64
 16  Production_lag_13  326999 non-null  float64
 17  Production_lag_14  326999 non-null  float64
 18  Production_lag_15  326999 non-null  float64
 19  Production_lag_16  326999 non-null  float64
 20  Production_lag_17  326999 non-null  float64
 21  Production_lag_18  326999 non-null  float64
 22  Production_lag_19  326999 non-null  float64
 23  Production_lag_20  326999 non-null  float64
 24  Production_lag_21  326999 non-null  float64
 25  Production_lag_22  326999 non-null  float64
 26  Production         326999 non-null  float64
dtypes: float64(27)
memory usage: 67.4 MB

In [27]:
class TimeSeriesDataset(Dataset):
    def __init__(self, data, target_column, sequence_length):
        self.data = data
        self.target_column = target_column
        self.sequence_length = sequence_length

    def __len__(self):
        return len(self.data) - self.sequence_length

    def __getitem__(self, idx):
        x = self.data.iloc[idx:idx + self.sequence_length].drop(columns=[self.target_column]).values
        y = self.data.iloc[idx + self.sequence_length][self.target_column]
        return torch.tensor(x, dtype=torch.float32), torch.tensor(y, dtype=torch.float32)

In [28]:
sequence_length = 22
dataset = TimeSeriesDataset(df_scaled, 'Production', sequence_length)

In [29]:
train_size = int(0.8 * len(dataset))
test_size = len(dataset) - train_size
train_dataset, test_dataset = torch.utils.data.random_split(dataset, [train_size, test_size])

train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)

In [30]:
import torch.nn as nn

class RNNModel(nn.Module):
    def __init__(self, input_size, hidden_size, output_size, num_layers=2):
        super(RNNModel, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.rnn = nn.RNN(input_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    
    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        out, _ = self.rnn(x, h0)
        out = self.fc(out[:, -1, :])
        return out

class LSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, output_size, num_layers=2):
        super(LSTMModel, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    
    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        out, _ = self.lstm(x, (h0, c0))
        out = self.fc(out[:, -1, :])
        return out

input_size = len(df_scaled.columns) - 1  # Number of features
hidden_size = 50
output_size = 1
model = RNNModel(input_size, hidden_size, output_size)
model = LSTMModel(input_size, hidden_size, output_size)

In [31]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model.to(device)
print(device)

cuda

In [32]:
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

num_epochs = 100
model.train()
xt = []
yt = []
for epoch in range(num_epochs):
    epoch_loss = 0
    for sequences, targets in train_loader:
        sequences, targets = sequences.to(device), targets.to(device)
        optimizer.zero_grad()
        outputs = model(sequences)
        targets = targets.view(-1, 1)
        loss = criterion(outputs, targets)
        loss.backward()
        optimizer.step()
        epoch_loss += loss.item()

    avg_epoch_loss = epoch_loss / len(train_loader)
    xt.append(epoch+1)
    yt.append(avg_epoch_loss)
    print(f'Epoch {epoch + 1}/{num_epochs}, Loss: {avg_epoch_loss:.4f}')

xt = np.array(xt)
yt = np.array(yt)
plt.plot(xt,yt)
plt.xlabel("Epochs")
plt.ylabel("Avg_Epoch per Epoch")
plt.title("Epoch vs Loss Plot")
plt.show()

Epoch 1/100, Loss: 152847879754.6546
Epoch 2/100, Loss: 152835005287.9501
Epoch 3/100, Loss: 152823037899.1194
Epoch 4/100, Loss: 152814703095.1487
Epoch 5/100, Loss: 152799482403.8258
Epoch 6/100, Loss: 153114149030.1830
Epoch 7/100, Loss: 152772549829.6366
Epoch 8/100, Loss: 153068516698.4178
Epoch 9/100, Loss: 152748121603.9530
Epoch 10/100, Loss: 152736035879.9491

KeyboardInterrupt:

In [ ]:
model.eval()
test_loss = 0
with torch.no_grad():
    for sequences, targets in test_loader:
        sequences, targets = sequences.to(device), targets.to(device)
        outputs = model(sequences)
        targets = targets.view(-1, 1) 
        loss = criterion(outputs, targets)
        test_loss += loss.item()

test_loss /= len(test_loader)
print(f'Test Loss: {test_loss:.4f}')