In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1 = pd.read_csv("Data/Crop_production 2.csv")
df1.info()
df2 = pd.read_csv("Data/India Agriculture Crop Production.csv")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99849 entries, 0 to 99848
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          99849 non-null  int64
 1   State_Name          99849 non-null  object
 2   Crop_Type           99849 non-null  object
 3   Crop                99849 non-null  object
 4   N                   99849 non-null  int64
 5   P                   99849 non-null  int64
 6   K                   99849 non-null  int64
 7   pH                  99849 non-null  float64
 8   rainfall            99849 non-null  float64
 9   temperature         99849 non-null  float64
 10  Area_in_hectares    99849 non-null  float64
 11  Production_in_tons  99849 non-null  float64
 12  Yield_ton_per_hec   99849 non-null  float64
dtypes: float64(6), int64(4), object(3)
memory usage: 9.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [3]:
df2.isnull().sum()

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

In [4]:
#Initial Cleaning of Temporal Data
df2 = df2.dropna(subset=['Season'])
df2 = df2.dropna(subset=['Crop'])
df2 = df2.dropna(subset=['Area'])
df2 = df2.dropna(subset=['Production'])
df2 = df2.dropna(subset=['Yield'])
df2["Crop"] = df2["Crop"].str.strip().str.lower()
df2["Season"] = df2["Season"].str.strip().str.lower()
df2["State"] = df2["State"].str.strip().str.lower()
df2["District"] = df2["District"].str.strip().str.lower()
df2["Year"] = df2["Year"].str[:4].astype(int)
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Index: 340414 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             340414 non-null  object
 1   District          340414 non-null  object
 2   Crop              340414 non-null  object
 3   Year              340414 non-null  int32
 4   Season            340414 non-null  object
 5   Area              340414 non-null  float64
 6   Area Units        340414 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  340414 non-null  object
 9   Yield             340414 non-null  float64
dtypes: float64(3), int32(1), object(6)
memory usage: 27.3+ MB

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,andaman and nicobar islands,nicobars,arecanut,2001,kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,andaman and nicobar islands,nicobars,arecanut,2002,whole year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,andaman and nicobar islands,nicobars,arecanut,2003,whole year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,andaman and nicobar islands,north and middle andaman,arecanut,2001,kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,andaman and nicobar islands,south andamans,arecanut,2002,whole year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [5]:
df1 = df1.drop(["Unnamed: 0","Yield_ton_per_hec"],axis=1)
df1["State_Name"] = df1["State_Name"].str.strip().str.lower()
df1["Crop_Type"] = df1["Crop_Type"].str.strip().str.lower()
df1["Crop"] = df1["Crop"].str.strip().str.lower()
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99849 entries, 0 to 99848
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State_Name          99849 non-null  object
 1   Crop_Type           99849 non-null  object
 2   Crop                99849 non-null  object
 3   N                   99849 non-null  int64
 4   P                   99849 non-null  int64
 5   K                   99849 non-null  int64
 6   pH                  99849 non-null  float64
 7   rainfall            99849 non-null  float64
 8   temperature         99849 non-null  float64
 9   Area_in_hectares    99849 non-null  float64
 10  Production_in_tons  99849 non-null  float64
dtypes: float64(5), int64(3), object(3)
memory usage: 8.4+ MB

,State_Name,Crop_Type,Crop,N,P,K,pH,rainfall,temperature,Area_in_hectares,Production_in_tons
0,andhra pradesh,kharif,cotton,120,40,20,5.46,654.34,29.266667,7300.0,9400.0
1,andhra pradesh,kharif,horsegram,20,60,20,6.18,654.34,29.266667,3300.0,1000.0
2,andhra pradesh,kharif,jowar,80,40,40,5.42,654.34,29.266667,10100.0,10200.0
3,andhra pradesh,kharif,maize,80,40,20,5.62,654.34,29.266667,2800.0,4900.0
4,andhra pradesh,kharif,moong,20,40,20,5.68,654.34,29.266667,1300.0,500.0

In [6]:
print(df1["Crop_Type"].unique())
print(df2["Season"].unique())

['kharif' 'rabi' 'summer' 'whole year']
['kharif' 'whole year' 'rabi' 'autumn' 'summer' 'winter']

In [7]:
c2 = df2["State"].unique()
c1 = df1["State_Name"].unique()
c1 = np.array(c1)
c2 = np.array(c2)
print(c1)
print(c2)

['andhra pradesh' 'arunachal pradesh' 'assam' 'bihar' 'goa' 'gujarat'
 'haryana' 'jammu and kashmir' 'karnataka' 'kerala' 'madhya pradesh'
 'maharashtra' 'manipur' 'meghalaya' 'mizoram' 'nagaland' 'odisha'
 'punjab' 'rajasthan' 'tamil nadu' 'telangana' 'uttar pradesh'
 'west bengal' 'chandigarh' 'dadra and nagar haveli' 'himachal pradesh'
 'puducherry' 'sikkim' 'tripura' 'andaman and nicobar islands'
 'chhattisgarh' 'uttarakhand' 'jharkhand']
['andaman and nicobar islands' 'andhra pradesh' 'arunachal pradesh'
 'assam' 'bihar' 'chandigarh' 'chhattisgarh' 'dadra and nagar haveli'
 'daman and diu' 'delhi' 'goa' 'gujarat' 'haryana' 'himachal pradesh'
 'jammu and kashmir' 'jharkhand' 'karnataka' 'kerala' 'madhya pradesh'
 'maharashtra' 'manipur' 'meghalaya' 'mizoram' 'nagaland' 'odisha'
 'puducherry' 'punjab' 'rajasthan' 'sikkim' 'tamil nadu' 'tripura'
 'uttar pradesh' 'uttarakhand' 'west bengal' 'telangana' 'laddakh']

In [8]:
C = []
UC1 = []
UC2 = []
for i in c1:
    if i in c2:
        C.append(i)
    else:
        UC1.append(i)
for i in c2:
    if i in c1:
        C.append(i)
    else:
        UC2.append(i)

C = np.array(list(set(C)))
UC1 = np.array(list(set(UC1)))
UC2 = np.array(list(set(UC2)))
print("Common",C)
print("Uncommon from c1",UC1)
print("Uncommon from c2",UC2)

Common ['haryana' 'assam' 'telangana' 'maharashtra' 'chhattisgarh' 'kerala'
 'rajasthan' 'karnataka' 'odisha' 'uttarakhand' 'andhra pradesh'
 'jharkhand' 'arunachal pradesh' 'jammu and kashmir' 'tamil nadu'
 'madhya pradesh' 'himachal pradesh' 'mizoram' 'sikkim' 'nagaland'
 'chandigarh' 'tripura' 'andaman and nicobar islands' 'punjab'
 'puducherry' 'manipur' 'west bengal' 'uttar pradesh' 'bihar' 'gujarat'
 'meghalaya' 'goa' 'dadra and nagar haveli']
Uncommon from c1 []
Uncommon from c2 ['laddakh' 'delhi' 'daman and diu']

In [9]:
df2["State"] = df2["State"].str.replace("laddakh","jammu and kashmir")
df2["State"] = df2["State"].str.replace("delhi","haryana")
df2["State"] = df2["State"].str.replace("daman and diu","gujarat")

In [10]:
c2 = df2["State"].unique()
c1 = df1["State_Name"].unique()
c1 = np.array(c1)
c2 = np.array(c2)
C = []
UC1 = []
UC2 = []
for i in c1:
    if i in c2:
        C.append(i)
    else:
        UC1.append(i)
for i in c2:
    if i in c1:
        C.append(i)
    else:
        UC2.append(i)

C = np.array(list(set(C)))
UC1 = np.array(list(set(UC1)))
UC2 = np.array(list(set(UC2)))
print("Common",C)
print("Uncommon from c1",UC1)
print("Uncommon from c2",UC2)

Common ['haryana' 'assam' 'telangana' 'maharashtra' 'chhattisgarh' 'kerala'
 'rajasthan' 'karnataka' 'odisha' 'uttarakhand' 'andhra pradesh'
 'jharkhand' 'arunachal pradesh' 'jammu and kashmir' 'tamil nadu'
 'madhya pradesh' 'himachal pradesh' 'mizoram' 'sikkim' 'nagaland'
 'chandigarh' 'tripura' 'andaman and nicobar islands' 'punjab'
 'puducherry' 'manipur' 'west bengal' 'uttar pradesh' 'bihar' 'gujarat'
 'meghalaya' 'goa' 'dadra and nagar haveli']
Uncommon from c1 []
Uncommon from c2 []

In [11]:
c2 = df2["Crop"].unique()
c1 = df1["Crop"].unique()
c1 = np.array(c1)
c2 = np.array(c2)
print(c1)
print(c2)

['cotton' 'horsegram' 'jowar' 'maize' 'moong' 'ragi' 'rice' 'sunflower'
 'wheat' 'sesamum' 'soyabean' 'rapeseed' 'jute' 'arecanut' 'onion'
 'potato' 'sweetpotato' 'tapioca' 'turmeric' 'barley' 'banana' 'coriander'
 'garlic' 'blackpepper' 'cardamom' 'cashewnuts' 'blackgram' 'coffee'
 'ladyfinger' 'brinjal' 'cucumber' 'grapes' 'mango' 'orange' 'papaya'
 'tomato' 'cabbage' 'bottlegourd' 'pineapple' 'carrot' 'radish'
 'bittergourd' 'drumstick' 'jackfruit' 'cauliflower' 'watermelon'
 'ashgourd' 'beetroot' 'pomegranate' 'ridgegourd' 'pumpkin' 'apple'
 'ginger']
['arecanut' 'banana' 'black pepper' 'cashewnut' 'coconut' 'dry chillies'
 'ginger' 'other kharif pulses' 'other oilseeds' 'rice' 'sugarcane'
 'sweet potato' 'arhar/tur' 'bajra' 'castor seed' 'coriander'
 'cotton(lint)' 'gram' 'groundnut' 'horse-gram' 'jowar' 'linseed' 'maize'
 'mesta' 'moong(green gram)' 'niger seed' 'onion' 'other rabi pulses'
 'potato' 'ragi' 'rapeseed &mustard' 'safflower' 'sesamum' 'small millets'
 'soyabean' 'sunflower' 'tapioca' 'tobacco' 'turmeric' 'urad' 'wheat'
 'oilseeds total' 'jute' 'masoor' 'peas & beans (pulses)' 'barley'
 'garlic' 'khesari' 'sannhamp' 'guar seed' 'moth' 'cardamom'
 'other cereals' 'cowpea(lobia)' 'dry ginger' 'other summer pulses']

In [12]:
C = []
UC1 = []
UC2 = []
for i in c1:
    if i in c2:
        C.append(i)
    else:
        UC1.append(i)
for i in c2:
    if i in c1:
        C.append(i)
    else:
        UC2.append(i)

C = np.array(list(set(C)))
UC1 = np.array(list(set(UC1)))
UC2 = np.array(list(set(UC2)))
print("Common",C)
print("Uncommon from c1",UC1)
print("Uncommon from c2",UC2)

Common ['turmeric' 'ginger' 'maize' 'sesamum' 'tapioca' 'soyabean' 'arecanut'
 'onion' 'banana' 'cardamom' 'rice' 'potato' 'ragi' 'garlic' 'jowar'
 'barley' 'wheat' 'sunflower' 'jute' 'coriander']
Uncommon from c1 ['ashgourd' 'ridgegourd' 'papaya' 'watermelon' 'sweetpotato' 'horsegram'
 'ladyfinger' 'cabbage' 'orange' 'cashewnuts' 'tomato' 'radish' 'moong'
 'pineapple' 'bittergourd' 'carrot' 'drumstick' 'pomegranate' 'apple'
 'blackpepper' 'grapes' 'coffee' 'cauliflower' 'cucumber' 'brinjal'
 'rapeseed' 'pumpkin' 'beetroot' 'jackfruit' 'mango' 'blackgram' 'cotton'
 'bottlegourd']
Uncommon from c2 ['other oilseeds' 'bajra' 'coconut' 'rapeseed &mustard' 'tobacco' 'urad'
 'small millets' 'cotton(lint)' 'other cereals' 'sweet potato'
 'castor seed' 'moth' 'niger seed' 'guar seed' 'arhar/tur' 'dry chillies'
 'groundnut' 'horse-gram' 'peas & beans (pulses)' 'dry ginger' 'mesta'
 'oilseeds total' 'other kharif pulses' 'other summer pulses'
 'moong(green gram)' 'other rabi pulses' 'khesari' 'cashewnut' 'linseed'
 'safflower' 'sannhamp' 'cowpea(lobia)' 'sugarcane' 'black pepper' 'gram'
 'masoor']

In [13]:
df1["Crop"] = df1["Crop"].str.replace("blackpepper","black pepper")
df1["Crop"] = df1["Crop"].str.replace("horsegram","horse-gram")
df1["Crop"] = df1["Crop"].str.replace("rapeseed","rapeseed & mustard")
df2["Crop"] = df2["Crop"].str.replace("rapeseed &mustard","rapeseed & mustard")
df2["Crop"] = df2["Crop"].str.replace("moong(green gram)","moong")
df2["Crop"] = df2["Crop"].str.replace("cashewnut","cashewnuts")
df2["Crop"] = df2["Crop"].str.replace("cotton(lint)","cotton")
df2["Crop"] = df2["Crop"].str.replace("sweet potato","sweetpotato")
df1["Crop"] = df1["Crop"].str.replace("blackgram","other kharif pulses")

In [14]:
c2 = df2["Crop"].unique()
c1 = df1["Crop"].unique()
c1 = np.array(c1)
c2 = np.array(c2)
C = []
UC1 = []
UC2 = []
for i in c1:
    if i in c2:
        C.append(i)
    else:
        UC1.append(i)
for i in c2:
    if i in c1:
        C.append(i)
    else:
        UC2.append(i)

C = np.array(list(set(C)))
UC1 = np.array(list(set(UC1)))
UC2 = np.array(list(set(UC2)))
print("Common",C)
print("Uncommon from c1",UC1)
print("Uncommon from c2",UC2)

Common ['turmeric' 'ginger' 'sweetpotato' 'maize' 'sesamum' 'cashewnuts'
 'tapioca' 'soyabean' 'horse-gram' 'moong' 'arecanut' 'onion' 'banana'
 'cardamom' 'rice' 'potato' 'ragi' 'garlic' 'other kharif pulses' 'jowar'
 'barley' 'wheat' 'sunflower' 'rapeseed & mustard' 'black pepper' 'jute'
 'cotton' 'coriander']
Uncommon from c1 ['ashgourd' 'ridgegourd' 'papaya' 'watermelon' 'ladyfinger' 'cabbage'
 'orange' 'tomato' 'radish' 'pineapple' 'bittergourd' 'carrot' 'drumstick'
 'pomegranate' 'apple' 'grapes' 'coffee' 'cauliflower' 'cucumber'
 'brinjal' 'pumpkin' 'beetroot' 'jackfruit' 'mango' 'bottlegourd']
Uncommon from c2 ['other oilseeds' 'bajra' 'coconut' 'tobacco' 'urad' 'small millets'
 'other cereals' 'castor seed' 'moth' 'niger seed' 'guar seed' 'arhar/tur'
 'dry chillies' 'groundnut' 'peas & beans (pulses)' 'dry ginger' 'mesta'
 'oilseeds total' 'other summer pulses' 'other rabi pulses' 'khesari'
 'linseed' 'safflower' 'sannhamp' 'cowpea(lobia)' 'sugarcane' 'gram'
 'masoor']

In [15]:
df2 = df2[df2["Crop"].isin(C)]
df1 = df1[df1["Crop"].isin(C)]

In [16]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97233 entries, 0 to 99848
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State_Name          97233 non-null  object
 1   Crop_Type           97233 non-null  object
 2   Crop                97233 non-null  object
 3   N                   97233 non-null  int64
 4   P                   97233 non-null  int64
 5   K                   97233 non-null  int64
 6   pH                  97233 non-null  float64
 7   rainfall            97233 non-null  float64
 8   temperature         97233 non-null  float64
 9   Area_in_hectares    97233 non-null  float64
 10  Production_in_tons  97233 non-null  float64
dtypes: float64(5), int64(3), object(3)
memory usage: 8.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 203573 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             203573 non-null  object
 1   District          203573 non-null  object
 2   Crop              203573 non-null  object
 3   Year              203573 non-null  int32
 4   Season            203573 non-null  object
 5   Area              203573 non-null  float64
 6   Area Units        203573 non-null  object
 7   Production        203573 non-null  float64
 8   Production Units  203573 non-null  object
 9   Yield             203573 non-null  float64
dtypes: float64(3), int32(1), object(6)
memory usage: 16.3+ MB

In [17]:
print(df1["Crop_Type"].unique())
print(df2["Season"].unique())

['kharif' 'rabi' 'summer' 'whole year']
['kharif' 'whole year' 'rabi' 'autumn' 'summer' 'winter']

In [18]:
print(sum(df2["Season"] == 'autumn'))
print(sum(df2["Season"] == 'winter'))

5962
6745

In [19]:
df2 = df2.drop(df2[df2["Season"].isin(["autumn", "winter"])].index)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190866 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             190866 non-null  object
 1   District          190866 non-null  object
 2   Crop              190866 non-null  object
 3   Year              190866 non-null  int32
 4   Season            190866 non-null  object
 5   Area              190866 non-null  float64
 6   Area Units        190866 non-null  object
 7   Production        190866 non-null  float64
 8   Production Units  190866 non-null  object
 9   Yield             190866 non-null  float64
dtypes: float64(3), int32(1), object(6)
memory usage: 15.3+ MB

In [20]:
c2 = df2["Crop"].unique()
c1 = df1["Crop"].unique()
c1 = np.array(c1)
c2 = np.array(c2)
C = []
UC1 = []
UC2 = []
for i in c1:
    if i in c2:
        C.append(i)
    else:
        UC1.append(i)
for i in c2:
    if i in c1:
        C.append(i)
    else:
        UC2.append(i)

C = np.array(list(set(C)))
UC1 = np.array(list(set(UC1)))
UC2 = np.array(list(set(UC2)))
print("Common",C)
print("Uncommon from c1",UC1)
print("Uncommon from c2",UC2)

Common ['turmeric' 'ginger' 'sweetpotato' 'maize' 'sesamum' 'cashewnuts'
 'tapioca' 'soyabean' 'horse-gram' 'moong' 'arecanut' 'onion' 'banana'
 'cardamom' 'rice' 'potato' 'ragi' 'garlic' 'other kharif pulses' 'jowar'
 'barley' 'wheat' 'sunflower' 'rapeseed & mustard' 'black pepper' 'jute'
 'cotton' 'coriander']
Uncommon from c1 []
Uncommon from c2 []

In [21]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97233 entries, 0 to 99848
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State_Name          97233 non-null  object
 1   Crop_Type           97233 non-null  object
 2   Crop                97233 non-null  object
 3   N                   97233 non-null  int64
 4   P                   97233 non-null  int64
 5   K                   97233 non-null  int64
 6   pH                  97233 non-null  float64
 7   rainfall            97233 non-null  float64
 8   temperature         97233 non-null  float64
 9   Area_in_hectares    97233 non-null  float64
 10  Production_in_tons  97233 non-null  float64
dtypes: float64(5), int64(3), object(3)
memory usage: 8.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 190866 entries, 0 to 345374
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             190866 non-null  object
 1   District          190866 non-null  object
 2   Crop              190866 non-null  object
 3   Year              190866 non-null  int32
 4   Season            190866 non-null  object
 5   Area              190866 non-null  float64
 6   Area Units        190866 non-null  object
 7   Production        190866 non-null  float64
 8   Production Units  190866 non-null  object
 9   Yield             190866 non-null  float64
dtypes: float64(3), int32(1), object(6)
memory usage: 15.3+ MB

In [22]:
df1.to_csv("Data_Processed/Recommendation.csv", index=False)
df2.to_csv("Data_Processed/Prediction.csv", index=False)